<h1>您好 <span style="color:#ee0a24;font-size:35px">
        <%= account %>
    </span> 欢迎注册星星社区</h1>
<p>您的验证码为
    <span style="color:#1989fa;font-size: 35px;">
        <%= code %>
    </span>
    <span>
        两分钟内有效
    </span>
</p>
<span>如果非您本人操作，请忽略</span>
